body,
:root,
html {
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;

  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  position: relative;
}

.container {
  margin: 2rem;
}

/* Link */
:root {
  --link-bg: #ddd;
  --link-color: #000;

  --link-bg-active-page: #605dff;
  --link-color-active-page: #fff;

  --link-bg-active-step: #f43098;
  --link-color-active-step: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-bg: #333;
    --link-color: #fff;

    --link-bg-active-page: #605dff;
    --link-color-active-page: #fff;

    --link-bg-active-step: #f43098;
    --link-color-active-step: #fff;
  }
}

.link {
  padding: 0.5rem;
  background-color: var(--link-bg);
  color: var(--link-color-content);
}

.link:hover {
  opacity: 0.9;
}

.link[data-active-link='page'] {
  background: var(--link-bg-active-page);
  color: var(--link-color-active-page);
}

.link[data-active-link='step'] {
  background: var(--link-bg-active-step);
  color: var(--link-color-active-step);
}
