name: Publish

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: [ci]
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: install
        run: deno install

      - name: Build
        run: deno task build

      - name: Debug npm & OIDC
        run: |
          npm --version
          deno -A npm -v
          echo "NPM_CONFIG_REGISTRY: $NPM_CONFIG_REGISTRY"
          echo "NODE_AUTH_TOKEN set? $([[ -n \"\$NODE_AUTH_TOKEN\" ]] && echo yes || echo no)"

      - name: Publish
        run: deno task publish

      # - name: Release
      #   uses: softprops/action-gh-release@v2
      #   with:
      #     tag_name: ${{ env.FINAL_TAG }}
      #     generate_release_notes: true
